.avatarWrapper {
    display: block;
    position: relative;
    width: 120px;
    padding-bottom: 120px;
    border-radius: 50%;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.avatarWrapper.largeAvatar {
    width: 200px;
    padding-bottom: 200px;
}

.avatarWrapper.smallAvatar {
    width: 50px;
    padding-bottom: 50px;
}
