@use "~styles/colors.scss";
@use "~styles/defaults.scss";

.pageTitle {
    @include defaults.pageTitle;
}

.tasksTable {
    margin-bottom: 20px;

    .tableLine {
        display: grid;
        grid-gap: 20px;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;

        .taskTitle {
            margin-bottom: 8px;
        }

        .taskInfo {
            font-weight: bold;
            text-align: left;

            span {
                font-weight: normal;
            }
        }
    }
}

.userBlock {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;

    .avatar {
        flex-shrink: 0;
    }
}

@media (max-width: 700px) {
    .tasksTable .tableLine {
        grid-template-columns: repeat(1, 1fr);

        .taskInfo {
            text-align: center;
        }
    }

    .userBlock {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .userBlock {
        flex-direction: column;
        text-align: center;
    }
}
