@use "~styles/colors.scss";

.upperBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .linkBlock {
        flex: 1 0 auto;
        display: flex;
        align-items: center;

        span {
            font-weight: bold;
            font-size: 1.2em;
        }

        & > *:not(:last-child) {
            margin-right: 32px;
        }
    }

    .stateSelector {
        background-color: colors.$green-color;
        text-transform: uppercase;
    }

    .stateBlock {
        padding: 8px 12px;
        border-radius: 4px;
        background-color: colors.$green-color;
    }
}

.mainBlock {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;

    & > *:not(:last-child) {
        margin-right: 40px;
    }
}

.userCard {
    min-width: 35%;
    max-width: 50%;
    flex-shrink: 0;

    & > *:not(:last-child) {
        margin-bottom: 20px;
    }

    .userInfoBlock {
        display: flex;
        align-items: flex-start;

        & > *:not(:last-child) {
            margin-right: 20px;
        }

        .avatar {
            flex-shrink: 0;
        }

        .info > *:not(:last-child) {
            margin-bottom: 6px;
        }

        .name,
        .email {
            margin-bottom: 16px !important;
        }
    }
}

.employeeDataCard {
    flex-grow: 1;
}

.buttonsBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > *:not(:last-child) {
        margin-right: 20px;
    }
}

.formElement {
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.commentsBlock {
    & > *:not(:last-child) {
        margin-bottom: 24px;
    }

    .employeeCommentsTitle {
        margin-bottom: 16px;
    }

    .employeeCommentsTable {
        border: 1px solid rgba($color: colors.$main-color, $alpha: 0.2);
        box-shadow: none;
        border-radius: 4px;
    }

    .employeeComment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        padding-left: 16px;
        padding-right: 16px;

        .employeeComment__delete {
            cursor: pointer;
            font-size: 1.2em;
        }
    }
}

.descriptionBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    .descriptionBlock__change {
        padding-top: 4px;
        padding-bottom: 4px;
        cursor: pointer;
    }
}

@media (max-width: 960px) {
    .upperBlock {
        display: block;

        .linkBlock {
            display: block;
            margin-bottom: 20px;
            text-align: center;

            & > * {
                display: block;

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 12px;
                }
            }
        }
    }

    .mainBlock {
        display: block;

        & > *:not(:last-child) {
            margin-right: 0;
            margin-bottom: 40px;
        }
    }

    .userCard {
        min-width: unset;
        max-width: unset;
    }
}

@media (max-width: 720px) {
    .userCard .userInfoBlock {
        display: block;
        margin-bottom: 20px;

        & > *:not(:last-child) {
            margin-right: 0px;
            margin-bottom: 20px;
        }

        .avatar {
            margin: 0 auto;
        }

        .info > * {
            text-align: center;
        }
    }
}

@media (max-width: 500px) {
    .buttonsBlock {
        display: block;

        & > *:not(:last-child) {
            margin-right: 0;
            margin-bottom: 12px;
        }
    }
}
