@use "~styles/colors.scss";

.formElement {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.resetPasswordBlock {
    border-radius: 12px;
    border: 1px solid #000000;
    padding: 12px;
    background-color: rgba($color: colors.$green-color, $alpha: 0.3);

    .resetPasswordTitle {
        margin-bottom: 12px;
        font-size: 18px;
    }
}
